@use 'sass:math';
@use 'sass:selector';
@use './_vars' as *;
@use '@theme/src/material/tools' as tools;

@include tools.layer('components') {
  .sp-input {
    display: grid;
    flex: $input-flex;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: $input-line-height;

    &--disabled {
      pointer-events: none;
    }

    @at-root {
      @include tools.density('sp-input', $input-density) using ($modifier) {
        --sp-input-control-height: #{$input-control-height + $modifier};
        --sp-input-padding-top: #{16px + $modifier * 0.5};
      }
    }
  }

  .sp-input--vertical {
    grid-template-areas: 'append' 'control' 'prepend';
    grid-template-rows: max-content auto max-content;
    grid-template-columns: min-content;

    .sp-input__prepend {
      margin-block-start: $input-affix-margin-inside;
    }

    .sp-input__append {
      margin-block-end: $input-affix-margin-inside;
    }
  }

  .sp-input--horizontal {
    grid-template-areas: 'prepend control append' 'a messages b';
    grid-template-columns: max-content minmax(0, 1fr) max-content;
    grid-template-rows: 1fr auto;

    .sp-input__prepend {
      margin-inline-end: $input-affix-margin-inside;
    }

    .sp-input__append {
      margin-inline-start: $input-affix-margin-inside;
    }
  }

  .sp-input__details {
    align-items: flex-end;
    display: flex;
    font-size: $input-details-font-size;
    font-weight: $input-details-font-weight;
    grid-area: messages;
    letter-spacing: $input-details-letter-spacing;
    line-height: $input-details-line-height;
    min-height: $input-details-min-height;
    padding-top: $input-details-padding-above;
    overflow: hidden;
    justify-content: space-between;
  }

  .sp-input__details,
  .sp-input__prepend,
  .sp-input__append {
    > .sp-icon {
      opacity: var(--sp-medium-emphasis-opacity);
    }

    .sp-input--disabled &,
    .sp-input--error & {
      > .sp-icon,
      .v-messages {
        opacity: 1;
      }
    }

    .sp-input--glow.sp-input--focused & {
      > .sp-icon {
        opacity: 1;
      }
    }

    .sp-input--disabled & {
      opacity: var(--sp-disabled-opacity);
    }

    .sp-input--error:not(.sp-input--disabled) & {
      > .sp-icon,
      .v-messages {
        color: rgb(var(--sp-theme-error));
      }
    }
  }

  .sp-input__prepend,
  .sp-input__append {
    display: flex;
    align-items: flex-start;
    padding-top: var(--sp-input-padding-top);

    .sp-input--center-affix & {
      align-items: center;
      padding-top: 0;
    }
  }

  .sp-input__prepend {
    grid-area: prepend;
  }

  .sp-input__append {
    grid-area: append;
  }

  .sp-input__control {
    display: flex;
    grid-area: control;
  }

  .sp-input {
    &--hide-spin-buttons {
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type='number'] {
        -moz-appearance: textfield;
      }
    }

    &--plain-underlined {
      .sp-input__prepend,
      .sp-input__append {
        $this: &;
        align-items: flex-start;

        @at-root {
          @include tools.density('sp-input', $input-density) using ($modifier) {
            @at-root #{selector.append(&, $this)} {
              padding-top: calc(
                var(--sp-input-padding-top) + #{math.max(
                    0px,
                    4px + $modifier * 0.25
                  )}
              );
            }
          }
        }
      }
    }
  }
}
