// SPDrawer 变量
$sp-drawer-transition-duration: 0.3s !default;
$sp-drawer-transition-timing: cubic-bezier(0.4, 0, 0.2, 1) !default;
$sp-drawer-elevation: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
  0 16px 24px 2px rgba(0, 0, 0, 0.14),
  0 6px 30px 5px rgba(0, 0, 0, 0.12) !default;
$sp-drawer-border-width: thin !default;
