@use '@theme/src/material/settings' as settings;

// SPTextSuper variables
$text-super-footer-gap: 8px !default;
$text-super-footer-padding-y: 6px !default;
$text-super-footer-padding-x: 0 !default;
$text-super-min-rows: 3 !default;

