@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use '@theme/src/material/settings' as settings;
@use '@theme/src/material/tools' as tools;
@use './_mixins' as *;
@use './_variables' as *;

@include tools.layer('components') {
  .sp-btn {
    align-items: center;
    border-radius: $button-border-radius;
    display: inline-grid;
    grid-template-areas: 'prepend content append';
    grid-template-columns: max-content auto max-content;
    font-weight: $button-font-weight;
    justify-content: center;
    letter-spacing: $button-text-letter-spacing;
    line-height: $button-line-height;
    max-width: $button-max-width;
    outline: none;
    position: relative;
    text-decoration: none;
    text-indent: $button-text-letter-spacing;
    text-transform: $button-text-transform;
    transition-property: $button-transition-property;
    transition-duration: 0.28s;
    transition-timing-function: settings.$standard-easing;
    user-select: none;
    vertical-align: $button-vertical-align;
    flex-shrink: 0;

    .v-locale--is-rtl & {
      @if meta.type-of($button-text-letter-spacing) == 'number' {
        text-indent: -1 * $button-text-letter-spacing;
      }
    }

    @at-root {
      @include button-sizes();
      @include button-density('height', $button-density);
    }

    @include tools.border($button-border...);
    @include tools.position($button-positions);
    @include tools.states('.sp-btn__overlay');
    @include tools.variant($button-variants...);

    @supports selector(:focus-visible) {
      &::after {
        pointer-events: none;
        border: 2px solid currentColor;
        border-radius: inherit;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        @include tools.absolute(true);
      }

      &:focus-visible::after {
        opacity: calc(0.25 * var(--sp-theme-overlay-multiplier));
      }
    }

    &--icon {
      border-radius: $button-icon-border-radius;
      min-width: 0;
      padding: 0;

      // ensure that default
      // sp-icon size is 24px
      &.sp-btn--size-default {
        --sp-btn-size: #{$button-icon-font-size};
      }

      @at-root & {
        @include button-density(('width', 'height'), $button-icon-density);
      }
    }

    &--elevated {
      &:hover,
      &:focus {
        @include tools.elevation(map.get($button-elevation, 'hover'));
      }

      &:active {
        @include tools.elevation(map.get($button-elevation, 'active'));
      }
    }

    &--flat {
      box-shadow: none;
    }

    &--block {
      display: flex;
      flex: 1 0 auto;
      min-width: 100%;
    }

    &--disabled {
      pointer-events: none;

      @if ($button-colored-disabled) {
        opacity: $button-disabled-opacity;
        &:hover {
          opacity: $button-disabled-opacity;
        }
      } @else {
        opacity: 1;
        &.sp-btn {
          // specificity has to be higher to override theme !important
          color: rgba(
            var(--sp-theme-on-surface),
            $button-disabled-opacity
          ) !important;
        }
      }

      &.sp-btn--variant-elevated,
      &.sp-btn--variant-flat {
        box-shadow: none;

        @if ($button-colored-disabled) {
          opacity: 1;
          color: rgba(var(--sp-theme-on-surface), $button-disabled-opacity);
          background: rgb(var(--sp-theme-surface));
        } @else {
          background: rgb(var(--sp-theme-surface)) !important;
        }

        .sp-btn__overlay {
          // __overlay uses currentColor, so we need to divide
          // by the text opacity to get the correct value
          opacity: math.div($button-disabled-overlay, $button-disabled-opacity);
        }
      }
    }

    &--loading {
      pointer-events: none;

      .sp-btn__content,
      .sp-btn__prepend,
      .sp-btn__append {
        opacity: 0;
      }
    }

    &--stacked {
      grid-template-areas: 'prepend' 'content' 'append';
      grid-template-columns: auto;
      grid-template-rows: max-content max-content max-content;
      justify-items: center;
      align-content: center;

      .sp-btn__content {
        flex-direction: column;
        line-height: $button-stacked-line-height;
      }

      .sp-btn__prepend,
      .sp-btn__append,
      .sp-btn__content > .sp-icon--start,
      .sp-btn__content > .sp-icon--end {
        margin-inline: 0;
      }

      .sp-btn__prepend,
      .sp-btn__content > .sp-icon--start {
        margin-bottom: $button-stacked-icon-margin;
      }

      .sp-btn__append,
      .sp-btn__content > .sp-icon--end {
        margin-top: $button-stacked-icon-margin;
      }

      @at-root {
        @include button-sizes($button-stacked-sizes, true);
        @include button-density('height', $button-stacked-density);
      }
    }

    &--slim {
      padding: $button-slim-padding;
    }

    &--readonly {
      pointer-events: none;
    }

    &--rounded {
      @include tools.rounded($button-rounded-border-radius);

      &.sp-btn--icon {
        @include tools.rounded($button-border-radius);
      }
    }

    .sp-icon {
      --sp-icon-size-multiplier: #{calc(18 / 21)};
    }

    &--icon {
      .sp-icon {
        --sp-icon-size-multiplier: 1;
      }
    }

    &--stacked {
      .sp-icon {
        --sp-icon-size-multiplier: #{calc(24 / 21)};
      }

      &.sp-btn--block {
        min-width: 100%;
      }
    }
  }

  .sp-btn__loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    > .sp-prog-cir {
      width: $button-loader-size;
      height: $button-loader-size;
    }
  }

  .sp-btn__content,
  .sp-btn__prepend,
  .sp-btn__append {
    align-items: center;
    display: flex;
    transition: $button-content-transition;
  }

  .sp-btn__prepend {
    grid-area: prepend;
    margin-inline: $button-margin-start $button-margin-end;

    .sp-btn--slim & {
      margin-inline-start: 0;
    }
  }

  .sp-btn__append {
    grid-area: append;
    margin-inline: $button-margin-end $button-margin-start;

    .sp-btn--slim & {
      margin-inline-end: 0;
    }
  }

  .sp-btn__content {
    grid-area: content;
    justify-content: center;
    white-space: $button-white-space;

    > .sp-icon--start {
      margin-inline: $button-margin-start $button-margin-end;
    }

    > .sp-icon--end {
      margin-inline: $button-margin-end $button-margin-start;
    }

    .sp-btn--stacked & {
      white-space: normal;
    }
  }

  .sp-btn__overlay {
    background-color: currentColor;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .sp-btn__overlay,
  .sp-btn__underlay {
    pointer-events: none;
    @include tools.absolute();
  }

  // VPagination
  .sp-pagination {
    .sp-btn {
      width: auto;
      padding-inline: $button-pagination-padding-inline;
      @include button-density('min-width', $button-icon-density);
      @include tools.rounded($button-pagination-border-radius);

      &--rounded {
        @include tools.rounded($button-pagination-rounded-border-radius);
      }

      &__overlay {
        transition: none;
      }
    }

    &__prev,
    &__next {
      .sp-btn {
        padding-inline: 0;
        @include button-density('width', $button-icon-density);
      }
    }

    .sp-pagination__item--is-active .sp-btn__overlay {
      opacity: $button-pagination-active-overlay-opacity;
    }
  }
}
